*.iml
../.gradle
/local.properties
/mobile_app/.idea/caches
/mobile_app/.idea/libraries
/mobile_app/.idea/modules.xml
/mobile_app/.idea/workspace.xml
/mobile_app/.idea/navEditor.xml
/mobile_app/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
